.price {
  display: flex;
  min-height: 40px;
  flex-direction: column;
}

.oldPrice {
  color: #A9A9A9;
  text-decoration: line-through;
}

.newPrice {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .price {
    min-height: 30px;
    font-size: 12px;
  }
}
