.filterbar {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  background-color: #F2F2F2;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  gap: 10px;
}

.button {
  max-width: 150px;
  color: #999B9B;
  cursor: pointer;
  font-size: 14px;
}

.active {
  color: #000;
  font-weight: bold;
}
