.filterbar {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  background-color: #F2F2F2;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  gap: 10px;
}

.button {
  max-width: 150px;
  color: #999B9B;
  cursor: pointer;
  font-size: 14px;
}

.active {
  color: #000;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .filterbar {
    height: 30px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 12px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 685px) {
  .filterbar {
    display: none;
  }
}
