@import url("Fonts/fonts.css");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: #F5F9FC;
  font-family: Panton, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

:root {
  --font-text-field-primary-color: #191919;
  --color-input-label: #AAA;
  --color-text-field-background: #FAFAFA;
  --font-text-field-plaseholder-color: #AAA;
  --color-text-field-border-hover: #7FBFFE;
  --color-text-field-border-focus: #2B96F1;
  --color-text-field-background-focus: #FFF;
  --color-text-field-background-hover: #FFF;
  --font-button-primary-color: #060505;
  --color-button-primary-background: #FFFB2D;
  --color-button-primary-background-hover: #F2F059;
  --color-button-primary-background-active: #0F85E9;
  --font-buttom-secondary-color: #828282;
  --color-button-secondary-background: rgb(0 0 0 / 0%);
  --color-button-secondary-background-hover: #FAFAFA;
  --color-button-secondary-background-active: #F5F5F5;
  --transition: all 0.3s ease-in-out;
}
