.button {
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.005em;
  line-height: 36px;
  margin: 0;
  min-width: 100px;
  padding: 0;
  text-align: center;
  transition: var(--transition);
  width: 100%;
}

.buttonPrimary {
  background-color: var(--color-button-primary-background);
  color: var(--font-button-primary-color);
}

.buttonPrimary:hover {
  background-color: var(--color-button-primary-background-hover);
}

.buttonPrimary:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

.buttonSecondary {
  color: var(--font-buttom-secondary-color);
}

.buttonSecondary:hover {
  background-color: var(--color-button-secondary-background-hover);
}
