.searchbar {
  position: relative;
  width: 50%;
}

.input {
  border-radius: 25px;
}

.close {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #E7E7E7;
  cursor: pointer;
  transform: translateY(-50%);
  transition: var(--transition);
}

.close:hover {
  opacity: 0.5;
}
