.badge {
  display: inline-block;
  min-width: 50px;
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
}

.new {
  background-color: #70FE9D;
}

.sale {
  background-color: #FF8C00;
}

.cart {
  position: absolute;
  top: -7px;
  left: -8px;
  display: flex;
  min-width: 20px;
  max-width: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  background-color: #F20D65;
  font-size: 12px;
}
